@import "../themes/catppuccin-mocha.css";

* {
	border: none;
	border-radius: 0;
	font-family: Ubuntu Nerd Font;
    font-weight: 600;
	font-size: 14px;
    background: @black;
}

window#waybar {
}

window#waybar.hidden {
	opacity: 0.2;
}

#language {
	padding-left: 16px;
	padding-right: 16px;
	transition: none;
	color: @green;
}

#window {
    padding-left: 16px;
    padding-right: 16px;
	transition: none;
    color: @text;
	background: transparent;
}

#workspaces {
	transition: none;
}

#workspaces button {
	transition: none;
	color: @text;
	background: transparent;
	padding-left: 12px;
	padding-right: 12px;
}

#workspaces button.active {
    color: @red;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
    text-shadow: 0px 0px 8px;
	color: @red;
}

#network {
	padding-left: 16px;
	padding-right: 16px;
	transition: none;
	color: @mauve;
}

#pulseaudio {
	padding-left: 16px;
	padding-right: 16px;
	transition: none;
	color: @blue;
}

#battery {
	padding-left: 16px;
	padding-right: 16px;
	transition: none;
	color: @red;

}

#clock {
	padding-left: 16px;
	padding-right: 16px;
	transition: none;
	color: @text;
}

#tray {
	padding-left: 16px;
	padding-right: 16px;
	transition: none;
	color: @text;
}
