@import "../themes/catppuccin-mocha.css";

* {
	border: none;
	border-radius: 0;
	font-family: JetBrains Mono Nerd Font;
	font-size: 14px;
	min-height: 24px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
	border-radius: 26px;
	transition: none;
    color: @text;
	background: @base;
    color: transparent;
	background: transparent;
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 26px;
	background: @base;
	transition: none;
}

#workspaces button {
	transition: none;
	color: @text;
	background: transparent;
	font-size: 16px;
}

#workspaces button.active {
	color: @blue;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: @subtext;
}

#network {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: @base;
	background: @mauve;
}

#pulseaudio {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: @base;
	background: @blue;
}

#battery {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: @base;
	background: @red;
}

#clock {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 16px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: @text;
	background: @base;
}

#tray {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 16px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: @text;
	background: @base;
}
